@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0f;
  color: #e2e8f0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #12121a;
}

::-webkit-scrollbar-thumb {
  background: #1e1e2e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e3e;
}
